#main {
  background-color: $black;
  color: $white;
}

.main-content {
  margin-top: 15px;
}

.form-game-cal {
  padding: 0 9px;
  margin-top: 22px;
}

.game-box {
  margin-top: 15px;
  margin-bottom: 15px;

  ul {
    padding: 1px 0 0 117px;
    margin: 0;
    position: relative;
    background-color: $grey;

    @include clearfix-cs;
  }

  li {
    float: left;
    list-style-type: none;
    padding: 7px 7px 6px;
    width: 102px;
    margin: 0 0 0 0;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;

    a {
      display: block;
    }


    span {
      vertical-align: middle;
      display: inline-block;
      color: $text-grey;
    }

    &.calendar {
      width: 117px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:nth-child(2n+1) {
      background-color: $grey;
    }

    &:nth-child(2n) {
      background-color: $white;
    }


    &.border-l {
      border-left: 2px solid $global-theme-color;
      font-weight: bold;

      span {
        color: $text-black;
      }
    }

    &.border-r {
      border-right: 2px solid $global-theme-color;
      font-weight: bold;

      span {
        color: $text-black;
      }
    }
  }

  .logo-in {
    float: left;
  }

  .name-in {
    text-transform: uppercase;
    float: left;
    padding-left: 5px;
    padding-top: 3px;
  }

  .score {
    float: right;
    padding-top: 3px;
  }

  .menu-box.two {
    .item {
      display: block;
      margin: 0 -2px;

      &.border-l {
        border-left: 2px solid $global-theme-color;
      }

      &.border-r {
        border-right: 2px solid $global-theme-color;
      }
    }

    li {
      padding: 0;

      a {
        @include clearfix-cs;

        padding: 7px 7px 6px;
      }
    }
  }
}

.banner {
  .info {
    padding: 15px 15px 5px;

    h2 {
      font-size: $gallery-title-font-size;
      font-weight: bold;

      a {
        color: inherit;
      }
    }
  }
}

.btn-link {
  margin-bottom: 24px;

  a {
    display: block;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  & {
    a {
      background-color: $global-theme-color;
      color: $white;
    }
  }

  &.grey {
    a {
      background-color: $grey-dark;
      color: $text-black;
    }
  }
}

.col-l, .col-r {
  
}

.block {
  margin-bottom: 22px;

  p {
    color: $text-grey;
  }

  .image, .video {
    img {
      width: 100%;
    }
  }

  .heading {
    padding: 12px 8px 12px;
    background-color: $grey;

    h3 {
      font-size: $h3-font-size;
      color: $text-black;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-weight: bold;

      a {
        color: inherit;
      }
    }

    .date {
      font-style: italic;
      margin: 0;
    }
  }

  .content {
    background-color: $white;
    padding: 12px 8px 12px;
  }

  .link {
    font-style: italic;
    color: $global-theme-color;
  }
}

.table-record {
  width: 100%;
  background-color: $grey;

  th, td {
    padding: 10px 15px;
    color: $text-black;
    font-size: $h3-font-size;

    &.logo-in {
      padding: 10px 0;
    }

    &.record {
      text-align: right;
    }

    &.no {
      text-align: center;
    }
  }

  th {
    background-color: $grey-dark;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
  }

  td {
    border-bottom: 1px solid $grey-dark;
  }
}

.ham {
  padding: 5px 5px 0;
  cursor: pointer;
  width: 62px;

  .line-ham {
    display: block;
    width: 50px;
    margin-bottom: 5px;
    height: 5px;
  }
}

#menu-mb {
  display: none;

  &.ham {
    border: 1px solid $global-theme-color;

    .line-ham {
      background-color: $global-theme-color;

    }
  }
}

#menu-game-box {
  display: none;

  &.ham {
    border: 1px solid $black;

    .line-ham {
      background-color: $black;
    }
  }
}

.boxscore-page {
  .main-content {
    background-color: $white;
    padding-bottom: 60px;

    .top-bar {
      ul {
        background-color: $global-theme-color;
        padding: 10px 15px 5px;
        min-height: 74px;
      }

      li {
        display: inline-table;
        padding-right: 30px;

        &:first-child {
          float: left;
        }

        h2 {
          font-size: $box-score-team-font-size - 3px;
          line-height:50px;
        }

        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.table-score {
  color: $text-black;

  li {
    display: inline-table;
    padding-right: 35px;
  }
  ul {
    padding: 0;
  }
  .title-team {
    background-color: $grey-light;
    font-weight: bold;
  }

  .info-teams {
    .image {
      float: left;
      background-color: $grey-light;
      margin-right: 10px;
    }

    .content {
      float: right;

      h2 {
        margin-bottom: 0;
        font-size: $box-score-team-font-size;
      }
    }
  }

  .info-table-score {
    table {
      th {
        background-color: $grey-light;
        padding: 2px 15px;
      }

      td {
        padding: 5px 15px;

        &:nth-child(1) {
          padding-left: 0;
        }
      }
    }

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 8px;
    }
  }

  .table-team-info {
    width: 100%;

    th, td {
      padding: 4px 15px;
      text-align: left;
    }

    th {
      background-color: $grey-dark;
    }

    tr {
      &:nth-child(2n) {
        td {
          background-color: $grey-light;
        }
      }
    }
  }
}

.spacing20 {
  height: 20px;
}
.paddingtop2 {
  padding-top: 15px;
  padding-bottom: 20px;
}


.profile-page {
  #main {
    .top-bar {
      background-color: $grey-dark;
      padding: 15px;

      @include clearfix-cs;

      h2 {
        font-size: $h3-font-size;
        margin-bottom: 0;
      }

      h3 {
        font-size: $box-score-team-font-size;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .logo-pf {
        float: left;
        padding-right: 18px;
        border-right: 2px solid $black;
        margin-right: 15px;

        img {
          vertical-align: sub;
          margin-right: 10px;
        }

        .score {
          font-size: $box-score-team-font-size;
          color: $text-black;
          font-weight: bold;
          line-height: 1;
        }
      }

      .name-pf {
        color: $text-black;
        display: inline-block;
      }
    }

    .info {
      background: url("../images/bg-info.png") no-repeat right 12px top 0 $grey-light;
      padding: 15px 15px 12px;
      color: $text-black;

      @include clearfix-cs;

      .avatar {
        float: left;
        margin-right: 15px;
      }

      p {
        color: $text-black;
        line-height: 1.3;
        margin-bottom: 7px;
      }
    }

    .tab-score {
      margin-top: 10px;
    }
    .nav-tabs {
      padding-left: 15px;
      background: $white;
      border: 0;

      > li > a {
        @include border-radius-circle(0);
        text-transform: uppercase;
        color: $text-black;
        font-weight: bold;
        padding: 20px 15px 18px;
        line-height: 1;
        border-left: none;
        border: 0;
      }

      li {
        margin-right: -2px;
        margin-bottom: 0;

        &.active {
          a {
            background: $global-theme-color;
            color: $white;
          }
        }
      }
    }

    .tab-content {
      background-color: $white;
      //min-height: 600px;

      table {
        width: 100%;
      }

      th {
        background-color: $global-theme-color;
      }

      th, td {
        padding: 10px 5px;

        &:first-child {
          padding-left: 20px;
        }
      }

      td {
        color: $text-black;
      }

      tr {
        &:nth-child(2n+1) {
          td {
            background-color: $grey-light;
          }
        }
      }
    }
  }
}
