footer{
  padding-top: 20px;
  background-color: $grey;
  color: $text-black;

  .main-f {
    padding-bottom:10px;
  }

  h3 {
    font-size: $footer-font-size;
    color: $text-black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
  }
  ul{
    padding: 0;
  }
  li{
    display: inline-block;
  }
  .site-map {
    li {
      padding-right: 10px;
      a {
        text-transform: uppercase;
        color: inherit;
      }
    }
  }
  .social {
    li{
      padding-right: 10px;
      a:hover{
        opacity: 0.8;
      }
    }
  }
  .copyright {
    background-color: $red;
    padding: 15px 0 5px;
    p {
      color: $white;
    }
  }
}