$font-main: "Arvo", serif;
$black: #2a2a2a;
$white: #ffffff;
$red: #d12229;
$bg-red: #d12229;
$red-border: #d1232a;
$grey: #eeeeee;
$grey-light: #ececec;
$grey-b: #c4c4c4;
$text-red: #d12229;
$text-red-nav: #a23535;
$text-grey: #979797;
$text-black: #2a2a2a;
$text-white: #ffffff;
$text-black-score-p: #171724;
$blue-b: #1775d7;
$text-blue: #337ab7;
